/* Write your CSS Here. */
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
       }
 p {
    font-size: 1.5rem;
 }
 
 button {
     padding: 7px;
     border: black 10px 10px;
     border-radius: 1.5px;
     cursor: pointer;
 }

 .search{
    padding: 7px;
    border: black 10px 10px;
    border-radius: 2px;
 }